<template>
  <div class="c-navbar rounded-b-lg shadow-lg">
    <div class="c-navbar__border"></div>

    <nav class="navbar pr-4">
      <a href="#">Login</a>
    </nav>
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
.c-navbar {
  box-shadow: 0px 3px 6px #00000029;
}

.c-navbar__border {
  background: linear-gradient(91deg, #319795 0%, #3182CE 100%);
  height: 5px;
}

.navbar {
  align-items: center;
  display: flex;
  height: 4.2rem;
  justify-content: flex-end;
}

.navbar a {
  color: #319795;
}
</style>
