<template>
  <div id="registration" class="c__registration rounded-md flex justify-center">
    <button
      class="c__registration-button py-1.5 m-6 border-2 border-transparent text-white rounded-xl transition-colors duration-300 ease-out"
      v-if="scrollpx > 50"
    >
      Kostenios Registrieren
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      scrollpx: 0
    };
  },
  methods: {
    handleScroll() {
      this.scrollpx = window.scrollY;
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  }
});
</script>

<style scoped>
.c__registration {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  position: sticky;
  /* top: 97px; */
  width: 100%;
  bottom: 0;
}

.c__registration-button {
  background: linear-gradient(#319795, #3182CE);
  flex: 1 0;
  max-width: 320px;
}

.c__registration:hover {
  background: linear-gradient(95deg, #2C7A7B, #2B6CB0);
}
</style>
