<template>
  <div class="c-tab-two">
    <div class="c-tab-two__header flex justify-center">
      <h2 class="c-tab-two__title text-center">Drei einfache Schritte zu deinem neuen Mitarbeiter</h2>

      <Feather />
    </div>

    <div class="c-tab-two__content-one">
      <div class="c-tab-two__info flex items-center">
        <span class="c-tab-two__numeral">1.</span>
        <span class="c-tab-two__brief mt-16">Erstellen dein Unternehmensprofil</span>
      </div>
    </div>

    <div class="c-tab-two__content-two">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,192L60,202.7C120,213,240,235,360,234.7C480,235,600,213,720,186.7C840,160,960,128,1080,133.3C1200,139,1320,181,1380,202.7L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
      </svg>

      <div class="c-tab-two__info pl-5">
        <span class="c-tab-two__numeral">2.</span>
        <span class="c-tab-two__brief">Erstellen dein Jobinserat</span>
      </div>

      <div class="illustration mx-auto">
        <img class="mx-auto" src="job-tab-2-content-2.svg" alt="Erstellen dein Jobinserat" />
      </div>
    
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,224L60,218.7C120,213,240,203,360,218.7C480,235,600,277,720,293.3C840,309,960,299,1080,266.7C1200,235,1320,181,1380,154.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
      </svg>
    </div>

    <div class="c-tab-two__content-three">
      <div class="c-tab-two__info pl-10">
        <span class="c-tab-two__numeral">3.</span>
        <span class="c-tab-two__brief">Wähle deinen neuen Mitarbeiter aus</span>
      </div>

      <div class="illustration mx-auto">
        <img class="mx-auto" src="job-tab-2-content-3.svg" alt="Wähle deinen neuen Mitarbeiter aus" />
      </div>
    </div>
  </div>
</template>

<style scoped>
.c-tab-two {
  margin-top: 2rem;
  position: relative;
}

.c-tab-two__content-one {
  position: absolute;
  top: 135px;
}

.c-tab-two__content-two {
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  margin-top: 5rem;
  margin-bottom: -4rem;
}

.c-tab-two__content-three .c-tab-two__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.c-tab-two__brief {
  color: #718096;
  letter-spacing: 0.47px;
}

.c-tab-two__header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.c-tab-two__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.c-tab-two__numeral {
  color: #718096;
  font-size: 130px;
}

.c-tab-two__title {
  color: #4A5568;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 1rem;
  max-width: 280px;
}
</style>
