<template>
  <div class="page">
    <nav class="navbar rounded-b-lg flex items-end">
      <a href="#">Login</a>
    </nav>

    <nuxt />
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
.page .navbar {
  border-top: 5px solid linear-gradient(91deg, #319795 0%, #3182CE 100%);
}
</style>
