<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="p-index">
    <div @click="gotoJob" class="p-index__hero cursor-pointer">
      <div class="p-index__ecllipse">
        <div class="p-index__shape"></div>
      </div>

      <h1 class="p-index__title">
        Test Mobile Index
      </h1>
    </div>
  </div>
</template>


<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  methods: {
    gotoJob() {
      this.$router.push('/job')
    }
  },

  name: 'Home',
})
</script>

<style lang="css">
.p-index {
}

.p-index__hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.p-index__ecllipse {
  position: relative;
  max-width: 100%;
}

.p-index__shape {
  background: #FF0000 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 50%;
  height: 168px;
  /* left: 275px; */
  opacity: 1;
  position: absolute;
  top: -55px;
  right: -60px;
  /* top: -45px; */
  width: 168px;
}

.p-index__title {
  top: 370px;
  left: 24px;
  width: 240px;
  height: 270px;
  text-align: left;
  font: normal normal normal 75px/90px Lato;
  letter-spacing: 2.25px;
  color: #319795;
  opacity: 1;
  margin-left: 1rem;
}
</style>
