<template>
  <div class="p-job">
    <Navbar />

    <div class="p-job__hero">
      <h1 class="p-job__title text-center m-auto">Deine Job website</h1>

      <div class="p-job__illustration">
        <JobIllustrationOne class="mx-auto" />
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,288L60,293.3C120,299,240,309,360,314.7C480,320,600,320,720,277.3C840,235,960,149,1080,112C1200,75,1320,85,1380,90.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
      </svg>
    </div>

    <div class="p-job__details">
      <ul class="p-job__tabs flex cursor-pointer mx-auto flex">
        <li
          @click="setActiveTab(0)"
          :class="{ 'p-job__tab--active' : tabIndex === 0 }"
          class="p-job__tab py-2 px-6 rounded-l-lg"
        >
          Arbeitnehmer
        </li>
        <li
          @click="setActiveTab(1)"
          :class="{ 'p-job__tab--active' : tabIndex === 1 }"
          class="p-job__tab py-2 px-6 rounded-none"
        >
          Arbeitgeber
        </li>
        <li
          @click="setActiveTab(2)"
          :class="{ 'p-job__tab--active' : tabIndex === 2 }"
          class="p-job__tab py-2 px-6 rounded-r-lg"
        >
          Temporärbüro
        </li>
      </ul>

      <TabOne v-if="tabIndex === 0" />
      <TabTwo v-if="tabIndex === 1" />
      <TabThree v-if="tabIndex === 2" />
    </div>

    <RegistrationButton />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      tabIndex: 0 as number,
    }
  },

  // layout: "navbar",

  methods: {
    setActiveTab(tabIndex: number) {
      this.tabIndex = tabIndex;
    }
  },

  name: 'Job',
})
</script>

<style scoped>
.p-job__hero {
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  margin-top: 4px;
}

.p-job__tabs {
  margin-top: 5.6rem;
  max-width: 320px;
  overflow: scroll;
}

ul.p-job__tabs li.p-job__tab {
  border: 1px solid #CBD5E0;
  color: #81E6D9;
}

ul.p-job__tabs li.p-job__tab--active {
  background-color: #81E6D9;
  color: #fff;
}

.p-job__title {
  align-items: center;
  display: flex;
  font-size: 42px; /* change to rem */
  line-height: 50px; /* change to rem */
  height: 100px;
  letter-spacing: 1.26px;
  width: 13rem;
}

@media (min-width: 768px) {

}
</style>
