<template>
  <div class="c-details">
    <ul class="c-details__tabs flex cursor-pointer mx-auto flex">
      <li
        @click="setActiveTab(0)"
        :class="{ 'c-tab--active' : tabIndex === 0 }"
        class="c-details__tab py-2 px-6 rounded-l-lg"
      >
        Arbeitnehmer
      </li>
      <li
        @click="setActiveTab(1)"
        :class="{ 'c-details__tab--active' : tabIndex === 1 }"
        class="c-details__tab py-2 px-6 rounded-none"
      >
        Arbeitgeber
      </li>
      <li
        @click="setActiveTab(2)"
        :class="{ 'c-details__tab--active' : tabIndex === 2 }"
        class="c-details__tab py-2 px-6 rounded-r-lg"
      >
        Temporärbüro
      </li>
    </ul>

    <TabOne v-if="tabIndex === 0" />
    <TabTwo v-if="tabIndex === 1" />
    <TabThree v-if="tabIndex === 2" />
  </div>
</template>

<style scoped>
.c-details__tabs {
  margin-top: 5.6rem;
  max-width: 320px;
  overflow: scroll;
}

ul.c-details__tabs li.c-details__tab {
  border: 1px solid #CBD5E0;
  color: #81E6D9;
}

ul.c-details__tabs li.c-details__tab--active {
  background-color: #81E6D9;
  color: #fff;
}
</style>
